@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root{
    --clr-1: #241a2e;
    --clr-2: #272438;
    --clr-3: #2f528d;
    --clr-4: #7661a8;
    --clr-5: #835481;
    --clr-6: #200920;
}

body{
    background: linear-gradient(90deg, var(--clr-2), var(--clr-6));
    display: grid;
    place-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    background: linear-gradient(90deg, var(--clr-6), var(--clr-3));
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: var(--clr-4);
    text-shadow: 0 0 0.1em currentColor;
    font-family: FreeMono, monospace;
    border-radius: 0.5rem;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background: linear-gradient(90deg, var(--clr-4), var(--clr-5));
    color: var(--clr-6);
  }

a{
    color: var(--clr-3)
}
.card{
    display: block;
    height: fit-content;
    width: 90%;
    background: var(--clr-1);
    border-radius: 0.5rem;
    display: grid;
    place-content: center;
    text-align: center;
    color: var(--clr-4);
    font-family: FreeMono, monospace;
    text-shadow: 0 0 0.2em currentColor;
    font-size: 4rem;
    padding-top: 3dvh;
    padding-bottom: 3dvh;
    padding-right: 2dvh;
    padding-left: 2dvh;
    margin-top: 2cqi;
    margin-bottom: 2cqi;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.name{
    font-size: 1.5rem;
    color: var(--clr-3);
    text-shadow: 0 0 0.1em currentColor;
    position: relative;
    text-align: center;
}
.text{
    font-size: 1.5rem;
    color: var(--clr-5);
    text-shadow: 0 0 0.1em currentColor;
    position: relative;
    text-align: center;
}


.card-3{
    width: 80%;
}

.card-2 {
    font-size: 2rem;
    width: 80%;
}

.card::before,
.card::after{
    content: "";
    position: absolute;
    inset: -.4cqi;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-3),
        var(--clr-4),
        var(--clr-5),
        var(--clr-3));
    border-radius: 0.6rem;
    animation: rotation 20s linear infinite;
}

.card::after{
    filter: blur(1rem);
    content: "";
    display: inline-block;
    width:100%;
}

@keyframes rotation {
    0%    {--gradient-angle: 0deg;}
    100%  {--gradient-angle: 1440deg;}
}
